JobMeHomePage/JobMeHomePage/Connected Services/JobPostServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JobPostService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ModelLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJobPostService_GetAllJobPost_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJobPost" />
  </wsdl:message>
  <wsdl:message name="IJobPostService_GetAllJobPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJobPostResponse" />
  </wsdl:message>
  <wsdl:message name="IJobPostService_CreateJobPost_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateJobPost" />
  </wsdl:message>
  <wsdl:message name="IJobPostService_CreateJobPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateJobPostResponse" />
  </wsdl:message>
  <wsdl:message name="IJobPostService_GetlAllWorkHours_InputMessage">
    <wsdl:part name="parameters" element="tns:GetlAllWorkHours" />
  </wsdl:message>
  <wsdl:message name="IJobPostService_GetlAllWorkHours_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetlAllWorkHoursResponse" />
  </wsdl:message>
  <wsdl:message name="IJobPostService_GetAllJobCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJobCategories" />
  </wsdl:message>
  <wsdl:message name="IJobPostService_GetAllJobCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJobCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IJobPostService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IJobPostService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:portType name="IJobPostService">
    <wsdl:operation name="GetAllJobPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobPostService/GetAllJobPost" message="tns:IJobPostService_GetAllJobPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobPostService/GetAllJobPostResponse" message="tns:IJobPostService_GetAllJobPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateJobPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobPostService/CreateJobPost" message="tns:IJobPostService_CreateJobPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobPostService/CreateJobPostResponse" message="tns:IJobPostService_CreateJobPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetlAllWorkHours">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobPostService/GetlAllWorkHours" message="tns:IJobPostService_GetlAllWorkHours_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobPostService/GetlAllWorkHoursResponse" message="tns:IJobPostService_GetlAllWorkHours_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllJobCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobPostService/GetAllJobCategories" message="tns:IJobPostService_GetAllJobCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobPostService/GetAllJobCategoriesResponse" message="tns:IJobPostService_GetAllJobCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobPostService/Get" message="tns:IJobPostService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobPostService/GetResponse" message="tns:IJobPostService_Get_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IJobPostService" type="tns:IJobPostService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllJobPost">
      <soap:operation soapAction="http://tempuri.org/IJobPostService/GetAllJobPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateJobPost">
      <soap:operation soapAction="http://tempuri.org/IJobPostService/CreateJobPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetlAllWorkHours">
      <soap:operation soapAction="http://tempuri.org/IJobPostService/GetlAllWorkHours" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllJobCategories">
      <soap:operation soapAction="http://tempuri.org/IJobPostService/GetAllJobCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IJobPostService/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JobPostService">
    <wsdl:port name="BasicHttpBinding_IJobPostService" binding="tns:BasicHttpBinding_IJobPostService">
      <soap:address location="http://localhost:8723/Design_Time_Addresses/WCFJobMeService/JobPostService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>