JobMeHomePage/JobMeHomePage/Connected Services/ApplierServiceReference/ModelLayer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Applier">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="BannerURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Birthdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentJob" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomePage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImageURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxRadius" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="jobCategoryList" nillable="true" type="tns:ArrayOfJobCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Applier" nillable="true" type="tns:Applier" />
  <xs:complexType name="ArrayOfJobCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobCategory" nillable="true" type="tns:JobCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobCategory" nillable="true" type="tns:ArrayOfJobCategory" />
  <xs:complexType name="JobCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobCategory" nillable="true" type="tns:JobCategory" />
  <xs:complexType name="ArrayOfApplier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Applier" nillable="true" type="tns:Applier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplier" nillable="true" type="tns:ArrayOfApplier" />
</xs:schema>