JobMeHomePage/JobMeHomePage/Connected Services/ApplierServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ApplierService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ModelLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApplierService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IApplierService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IApplierService_GetAllAppliers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAppliers" />
  </wsdl:message>
  <wsdl:message name="IApplierService_GetAllAppliers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAppliersResponse" />
  </wsdl:message>
  <wsdl:message name="IApplierService_GetApplier_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplier" />
  </wsdl:message>
  <wsdl:message name="IApplierService_GetApplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplierResponse" />
  </wsdl:message>
  <wsdl:message name="IApplierService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IApplierService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IApplierService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplierService/Create" message="tns:IApplierService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplierService/CreateResponse" message="tns:IApplierService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAppliers">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplierService/GetAllAppliers" message="tns:IApplierService_GetAllAppliers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplierService/GetAllAppliersResponse" message="tns:IApplierService_GetAllAppliers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplier">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplierService/GetApplier" message="tns:IApplierService_GetApplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplierService/GetApplierResponse" message="tns:IApplierService_GetApplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplierService/Login" message="tns:IApplierService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplierService/LoginResponse" message="tns:IApplierService_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IApplierService" type="tns:IApplierService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IApplierService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAppliers">
      <soap:operation soapAction="http://tempuri.org/IApplierService/GetAllAppliers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplier">
      <soap:operation soapAction="http://tempuri.org/IApplierService/GetApplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IApplierService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApplierService">
    <wsdl:port name="BasicHttpBinding_IApplierService" binding="tns:BasicHttpBinding_IApplierService">
      <soap:address location="http://localhost:8723/Design_Time_Addresses/WCFJobMeService/ApplierService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>