JobMeHomePage/JobMeHomePage/Connected Services/JobApplicationServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8723/Design_Time_Addresses/WCFJobMeService/JobApplicationService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelLayer" />
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="jobApplication" nillable="true" type="q1:JobApplication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="GetResult" nillable="true" type="q2:JobApplication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllByApplierId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applierId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllByApplierIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="GetAllByApplierIdResult" nillable="true" type="q3:ArrayOfJobApplication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>