JobMeHomePage/JobMeHomePage/Connected Services/JobApplicationServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JobApplication">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplierId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobApplication" nillable="true" type="tns:JobApplication" />
  <xs:complexType name="ArrayOfJobApplication">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobApplication" nillable="true" type="tns:JobApplication" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobApplication" nillable="true" type="tns:ArrayOfJobApplication" />
</xs:schema>