JobMeHomePage/JobMeHomePage/Connected Services/CompanyServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CompanyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ModelLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICompanyService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_CreateJobPost_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateJobPost" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_CreateJobPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateJobPostResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetlAllWorkHours_InputMessage">
    <wsdl:part name="parameters" element="tns:GetlAllWorkHours" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetlAllWorkHours_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetlAllWorkHoursResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetAllJobCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJobCategories" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetAllJobCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJobCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="ICompanyService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/Create" message="tns:ICompanyService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/CreateResponse" message="tns:ICompanyService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateJobPost">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/CreateJobPost" message="tns:ICompanyService_CreateJobPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/CreateJobPostResponse" message="tns:ICompanyService_CreateJobPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetlAllWorkHours">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetlAllWorkHours" message="tns:ICompanyService_GetlAllWorkHours_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetlAllWorkHoursResponse" message="tns:ICompanyService_GetlAllWorkHours_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllJobCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetAllJobCategories" message="tns:ICompanyService_GetAllJobCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetAllJobCategoriesResponse" message="tns:ICompanyService_GetAllJobCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/Login" message="tns:ICompanyService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/LoginResponse" message="tns:ICompanyService_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICompanyService" type="tns:ICompanyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/ICompanyService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateJobPost">
      <soap:operation soapAction="http://tempuri.org/ICompanyService/CreateJobPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetlAllWorkHours">
      <soap:operation soapAction="http://tempuri.org/ICompanyService/GetlAllWorkHours" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllJobCategories">
      <soap:operation soapAction="http://tempuri.org/ICompanyService/GetAllJobCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/ICompanyService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CompanyService">
    <wsdl:port name="BasicHttpBinding_ICompanyService" binding="tns:BasicHttpBinding_ICompanyService">
      <soap:address location="http://localhost:8723/Design_Time_Addresses/WCFJobMeService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>